
.col-xs-12
  %p.en Unit 7, No 24, 18 Metri Motahari St. , Pakhnejad Blvd. , Sarv Sq. , Saadat Abad, Tehran, Iran
.col-xs-12.contact-info
  .col-xs-3
  .col-xs-6
    .col-xs-5.right-box
      %p.en Tel: +98(21)22073914
      %p.en  Fax: +98(21)22116293
    .col-xs-1{:style => "padding:0"}
      .hr-blue-line
    .col-xs-5.left-box
      %p.en Postal Code: 1998983483
      %p.en Email: Info@VTP.Co.IR
  .col-xs-3
