.col-xs-12
  %p.fa= 'تهران، سعادت آباد، بلوار پاکنژاد، بالاتر از میدان بهرود، کوچه 29، پلاک 10، واحد 1'
.col-xs-12.contact-info.other
  .col-xs-3
  .col-xs-6#contact-details{:style=>"padding:0"}
    .col-xs-5.right-box
      
      
      %p.fa کدپستی: ۱۹۸۱۸۶۷۱۹۴
      
      %p.fa  ایمیل: Info@VTP.Co.IR
      
    .blue-space{:class => I18n.locale}
      .hr-blue-line
    .col-xs-5.left-box
      
      
      %p.fa تلفکس:  ۲۲۱۱۴۹۶۵ - ۰۲۱
      
    
  .col-xs-3

