.col-xs-12
  %p.fa= 'تهران، سعادت آباد، چهارراه سرو، ابتدای بلوار پاکنژاد، خیابان 18 متری مطهری، پلاک 24، واحد 7'
.col-xs-12.contact-info
  .col-xs-3
  .col-xs-6{:style=>"padding:0"}
    .col-xs-5.right-box
      
      
      %p.fa کدپستی: ۱۹۹۸۹۸۳۴۸۳
      %p.fa  ایمیل: Info@VTP.Co.IR
      
    .blue-space{:class => I18n.locale}
      .hr-blue-line
    .col-xs-5.left-box
      
      
      %p.fa تلفن: ۲۲۰۷۳۹۱۴ - ۰۲۱
      %p.fa دورنگار: ۲۲۱۱۶۲۹۳ - ۰۲۱
    
  .col-xs-3
