
.navbar-inner.col-xs-12{:class => (I18n.locale == :en ? "pull-left" : "pull-right") }
  %ul#nav-items{:class => I18n.locale}  
    
    %li{ :class => ('active' if current_page?(Category))}
      = link_to Category do
        %span=  t('activities')
      .horisantal-line
    %li{ :class => ('active' if current_page?(Category))}        
      %span=  t('related-link')
      .horisantal-line
    - Page.all.each do |page|
      %li{ :class => ('active' if current_page?(page))}
        %span=  page.title
        .horisantal-line.horisantal-line

