
.navbar-inner.col-xs-3{:class => (I18n.locale == :en ? "pull-left" : "pull-right") }
  %ul#nav-items{:class => I18n.locale}  
    - unless current_page?('/')
      %li{ :class => ('active' if current_page?('/'))}
        %span=  t('home-page')
      .horisantal-line
    %li{ :class => ('active' if current_page?(Category))}
      %span=  t('activities')
      .horisantal-line
    %li{ :class => ('active' if current_page?(Category))}        
      %span=  t('related-link')
      .horisantal-line
    - Page.all.each do |page|
      %li{ :class => ('active' if current_page?(page))}
        %span=  page.title
        .horisantal-line.horisantal-line

.col-xs-10.pull-right
