
.col-xs-12.other
  %p.en Unit 7, No 24, 18 Metri Motahari St. , Pakhnejad Blvd. , Sarv Sq. , Saadat Abad, Tehran, Iran
.col-xs-12.contact-info.other
  .col-xs-3
  .col-xs-6#contact-details{:style=>"padding:0"}
    .col-xs-5.right-box
      %p.en Tel: +98(21)22073914
      %p.en  Fax: +98(21)22116293
    .blue-space{:class => I18n.locale}
      .hr-blue-line
    .col-xs-5.left-box
      
      %p.en Postal Code: 1998983483
      %p.en Email: Info@VTP.Co.IR
  .col-xs-3

