
.col-xs-12.other
  %p.en Unit 1, No 10, Alley 29, higher than Behroud circle , Pakhnejad Blvd. , Sarv Sq. , Saadat Abad, Tehran, Iran
.col-xs-12.contact-info.other
  .col-xs-3
  .col-xs-6#contact-details{:style=>"padding:0"}
    .col-xs-5.right-box
      %p.en Telfax: +98(21)22114965
      
    .blue-space{:class => I18n.locale}
      .hr-blue-line
    .col-xs-5.left-box
      
      %p.en Postal Code: 1981867194
      %p.en Email: Info@VTP.Co.IR
  .col-xs-3

