.contact-us.col-xs-10{:class => I18n.locale}
  - if I18n.locale == :fa
    .col-xs-6.pull-right{:style => "padding:0"}
      .col-xs-12
        .contact-form{:class => I18n.locale}= render 'shared/msg_form'
      
    .col-xs-6{:style => "padding:0"}
      %iframe{:height => "350px", :src =>  "https://www.google.com/maps/d/embed?mid=zbDi3iZxywyM.kKaaUJnZi5NQ&z=16", :width => "100%"}
  - else
    .col-xs-6.pull-left
      .col-xs-12
        .contact-form{:class => I18n.locale}= render 'shared/msg_form'
      
    .col-xs-6
      
      %iframe{:height => "350px", :src =>  "https://www.google.com/maps/d/embed?mid=zbDi3iZxywyM.kKaaUJnZi5NQ&z=16", :width => "100%"}
