.margin3{:class => I18n.locale}  
  

  %h1
    = @page.title
  %p  
    =raw @page.text
  - if is_admin?
    = link_to 'ویرایش', edit_page_path(@page), :class => "btn btn-info" 
    \|
    = link_to 'بازگشت', :back
