/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.clear-float {clear:both}
html, body {position:relative; color:#000}

.margin3 {margin:3%}
ul.menu {list-style:none; width:70%; float:right}
ul.menu li{display:inline}
.fa {direction:rtl; font-family: 'open_sansregular';}
.fa h2, .fa h3, .fa h1, .fa h4, .fa h5 {direction:rtl; font-family: 'open_sansregular';}
.en {direction:ltr; font-family: 'porta'; }
.en h1, .en h2, .en h3, .en h4, .en h5 {direction:ltr; font-family: 'porta'; }
.admin-menu {position:absolute;top:1%; right:0; z-index:1000; width:200px; background:#90EE90; 
  height:20px;
  overflow:hidden;
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;
  }
.admin-menu:hover {height:200px}
ul.admin {width:100%; float:right}
.slide-title  {margin-top:130px}
.language {
  width: 250px;
height: 100%;
text-align: center;
}
.clearfix h3 {color:#1E90FF}
.brand {width:270px}
