/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.clear-float {clear:both}
html,body {position:relative; color:#000 }
.fa {direction:rtl; font-family: 'open_sansregular';}
.fa h2, .fa h3, .fa h1, .fa h4, .fa h5 {direction:rtl; font-family: 'open_sansregular';}
.en {direction:ltr; font-family: 'fontawesome-webfont';}
.en h1, .en h2, .en h3, .en h4, .en h5 {direction:ltr; font-family: 'fontawesome-webfont'; }
.set-center {margin-right:auto; margin-left:auto}
.main-div { 
  position:relative; width:100%; height:100vh; overflow:hidden;
  background-image: url(image-path('fabg.jpg'));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 40%;  
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  }
.main-div.en {background-image: url(image-path('enbg.jpg'));}
.blue-border-right {position:absolute; width:100%; border-right: 100px solid #016c93; 
  right:0;
  height:100%}
.blue-border-left  {position:absolute; width:100%; border-left: 100px solid #016c93; 
  left:0;
  height:100%}
.footer {position:absolute; bottom:0; width:100%; height:80px;  color:#fff;
  border-top:6px solid #016c93;
  text-align:center;
  
  }
.footer.other_footer {height:95px;}
.footer.fa {left:0;}
.footer.en { right:0; padding-top:1%}
.footer p {margin:0; font-size:15px;}
.footer .other p {color:#000; font-weight: bold;font-size:18px;}
.footer p.en {margin:0; font-size:13px;}
.hr-blue-line {
  width:8px; height:30px; 
  margin-top: 5%;
  border-radius: 20%;
  margin-right:45%;
  margin-left:45%;
  border: 2px solid #fff; background: #016c93}

.contact-info .col-xs-5 p{ padding:0; padding-bottom:0; margin-bottom:0}
.contact-info .right-box {text-align:center; padding:0}
.contact-info .left-box {text-align:center; padding:0}
.contact-info.other .left-box p .contact-info.other .right-box p {color:#000}
.copyright{clear:both; padding:0; padding-right:4%; width:100%; text-align:center; }
.logo-box {
  z-index:20;
  padding-top:1%;
  background-image: url(image-path('main-menu.png'));
  background-repeat: repeat;
  position:absolute; width:100%; height:24vh; top:10%; right:0;  left:0;}
.logo-box p {text-align:center; width:100%; font-size:1.8vw; color:#000; margin:0;}
.logo-box p.en {font-size:2.2vw;}
.logo-box img {width:80%; margin-bottom:2%;}

.social-link {position:absolute; top:15px; width:100%; height:50px;
  right:0; left:0;
  z-index:20;
  }

.social-link  .social-icon {margin-top:18px;}
.social-link  .social-icon img{
  -webkit-transition: -webkit-transform .51s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;}
.social-link  .social-icon img:hover{cursor:pointer;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.globe.en {text-align:left; margin-top:18px;}
.globe.fa {text-align:right; margin-top:18px;}
.admin-menu {position:fixed;top:0; ; z-index:1000; width:200px; background:#90EE90; 
  height:20px;
  overflow:hidden;
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;
  }
.admin-menu.fa {right:0}
.admin-menu.en {left:0}
.admin-menu:hover {height:200px}
ul.admin {width:100%; float:right}
.slide-title  {margin-top:130px}
.language {
 position: absolute;
top: -25%;
height: 30px;
padding: 0;
width: 100%;
text-align: center;
}
.search-div {position:absolute; top:35%; right:0; left:0; z-index:20;}
.search-div.fa {text-align:right}
.search-div img {margin:2px; -webkit-transition: -webkit-transform .51s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;}
.search-div img:hover {cursor:pointer;  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );}
.search-div .email-icon, .search-div .phone-icon {margin-top:20px;}
#search {padding:0;}
#search.fa {padding-right:1%;}
#search.en {padding-left:1%;}
span.google-submit.fa {padding:0; text-align:left; margin-left:0;}
span.google-submit.en {padding:0; text-align:right; margin-right:0;}
.google-field.form-group {margin-bottom:0;}
.google-field.form-group  .form-control{border-radius:0;}
.menu-bar {position:absolute; bottom:17%; width:20%; left:0; right:0; z-index:20;}
.menu-bar ul#nav-items {list-style:none; padding-right:1%;}
.menu-bar ul#nav-items.en {padding-left:1%}
.menu-bar ul#nav-items li{color:#000; font-size:1.2em; position:relative; padding-top:20px;}
.menu-bar ul#nav-items li:hover{cursor:pointer; }

ul .horisantal-line {position:relative; width:130px;  border: 3px solid #fff; background: #016c93;
  height:10px;  
  border-radius: 3px;
  -webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
  transition: all .5s;
  }
ul.fa .horisantal-line {margin-right:-25px;}
ul.en .horisantal-line {margin-left:-25px;}
.menu-bar ul#nav-items span{font-weight:bold; font-size:1em}
.menu-bar ul#nav-items.fa li:hover .horisantal-line{margin-right:0;}
.menu-bar ul#nav-items.en li:hover .horisantal-line{margin-left:0;}
.blue-space {padding:0; width:1%; 
  margin-top:5px; 
  margin-right:5px; 
  
  float:left}
.blue-space.fa {margin-left:5px; }
.blue-space.en {margin-left:-5px; }

.bg-image img {position:absolute; width:100%; right:0; left:0;
  top:0; bottom:0;
  height:100%;}
.admin-pages {  
  position:absolute; width:90%; right:0; left:0;background:#fff; z-index:50;
  top:0;
  height:85%; overflow-y:scroll; }
.other-menu .search-div{position:absolute; top:35%; right:0; left:0; z-index:20;}
.other-menu .menu-bar{bottom:14%}
.show-sub-group {
  top: 35%;    right: 25%;  
  left: 25%;}
.show-sub-group.fa{float:right;}
.show-sub-group.en{float:left;}
.show-title-sub-group h3{border-bottom:4px solid #016c93; width: auto; }
.show-title-sub-group.fa h3{ text-align:left; float:left;}
.show-title-sub-group.en h3{ text-align:right; float:right;}
.sub-group-discript p{ font-size:1.2em; text-align:justify; color:#000}
.icon-link {
  padding-right:0;
  padding-left:0;
  }
.icon-link span.icon-tooltip {
  display:none;
  background:transparent; 
  text-align:center;
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;}
.icon-link:hover {text-decoration:none}
.icon-link:hover span.icon-tooltip {  
  display:block;
  background:#1A1A1A; color:#1E90FF;}

.menu-responsive {display:none}
