.activities{:class => I18n.locale}
  - if is_admin?
    .admin-btn
      = link_to 'ویرایش', edit_category_path(@category), :class => "btn btn-info" 
  .show-sub-group#category-activity 
    .show-title-sub-group
      %h3{:class => I18n.locale}= @category.title
      .clear-float
      .sub-group-discript
        = raw @category.description
      - if is_admin?
        = link_to 'ویرایش', edit_sub_group_path(@category)
